
# Add this to ~/.zshrc then `login lightning`
# login() {
#   if [ -z "$1" ]; then
#     echo "Error: No profile name provided."
#     return 1
#   fi
#   export ENV_NAME=$1
#   if ! aws sts get-caller-identity --profile $1 > /dev/null 2>&1; then
#     aws sso login --profile $1
#   fi
#   eval "$(aws configure export-credentials --profile $1 --format env)"
#   export AWS_ACCOUNT_ID=$(aws sts get-caller-identity --profile $1 --query "Account" --output text)
#   export AWS_REGION=us-east-1
# }

# bastion() {
#   echo "Opening ssh tunnel to the database: $ENV_NAME"
#   eval $(aws cloudformation describe-stacks --stack-name Database --query "Stacks[0].Outputs" | jq -r '.[] | select(.OutputKey=="TunnelCommand") | .OutputValue')
# }
