# database url, account created with `pnpm -f db nuke`
DATABASE_URL="postgres://postgres:postgres@localhost:5100/postgres"
# mocks how it will run in aws, you'll get dates showing -1 in prod, but not in local without this
TZ=UTC

# better-auth encryption secret for storing account passwords
AUTH_SECRET="ci-e2e-auth-secret-minimum-32-chars"
AWS_REGION=us-east-1

# used in the marketing site to reference the api
NEXT_PUBLIC_APP_API_URL=app.lightninglms.com
# prod value
SES_IDENITY=lightninglms.com
# twilio creds -found in twilio account
TWILIO_ACCOUNT_SID=abc
TWILIO_AUTH_TOKEN=token

# google captcha
NEXT_PUBLIC_CAPTCHA_SITE_KEY=stieKey
CAPTCHA_SECRET_KEY=captchaSecret

# s3 media bucket (demo bucket)
S3_MEDIA_BUCKET=nextjs-mediabucketbcbb02ba-epzhid25ktcj
# s3 endpoint
S3_ENDPOINT=http://localhost:4566


# Add this to ~/.zshrc then `login lightning`
# login() {
#   if [ -z "$1" ]; then
#     echo "Error: No profile name provided."
#     return 1
#   fi
#   export ENV_NAME=$1
#   if ! aws sts get-caller-identity --profile $1 > /dev/null 2>&1; then
#     aws sso login --profile $1
#   fi
#   eval "$(aws configure export-credentials --profile $1 --format env)"
#   export AWS_ACCOUNT_ID=$(aws sts get-caller-identity --profile $1 --query "Account" --output text)
#   export AWS_REGION=us-east-1
# }

# bastion() {
#   echo "Opening ssh tunnel to the database: $ENV_NAME"
#   eval $(aws cloudformation describe-stacks --stack-name Database --query "Stacks[0].Outputs" | jq -r '.[] | select(.OutputKey=="TunnelCommand") | .OutputValue')
# }
